aiofiles==23.2.1
aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
anyio==4.3.0
appdirs==1.4.4
attrs==23.2.0
audioread==3.0.1
backoff==2.2.1
beautifulsoup4==4.12.3
blinker==1.8.2
branca==0.7.2
Brotli==1.1.0
browser-cookie3==0.20.1
cachetools==5.4.0
certifi==2024.8.30
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==44.0.2
dataclass-factory==2.16
distro==1.9.0
docutils==0.21.2
fastapi==0.115.4
Flask==3.0.3
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
folium==0.17.0
frozenlist==1.4.1
future==1.0.0
google-api-core==2.19.1
google-api-python-client==2.141.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.63.2
googletrans==4.0.0rc1
greenlet==3.1.1
gunicorn==23.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.10.1
httpcore==0.9.1
httplib2==0.22.0
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib_metadata==8.3.0
iso8601==2.1.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
Jinja2==3.1.4
jiter==0.5.0
keyring==25.3.0
langdetect==1.0.9
lxml==5.2.2
lz4==4.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
more-itertools==10.4.0
multidict==6.0.5
mutagen==1.47.0
nh3==0.2.18
numpy==1.26.4
oauthlib==3.2.2
openai==0.28.0
opencage==2.4.0
outcome==1.3.0.post0
packaging==24.1
pandas==2.2.2
phonenumbers==8.13.40
pillow==10.4.0
pkginfo==1.10.0
proto-plus==1.24.0
protobuf==5.27.3
pyacoustid==1.3.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
pycparser==2.22
pycryptodomex==3.20.0
pydantic==1.10.17
pydub==0.25.1
pyee==11.1.1
pygame==2.6.0
Pygments==2.18.0
pyjnius==1.6.1
pyparsing==3.1.2
pyppeteer==2.0.0
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytube==15.0.0
pytz==2024.1
pyusb==1.2.1
pywin32==310
pywin32-ctypes==0.2.3
PyYAML==6.0.1
qbittorrent-api==2024.7.64
readme_renderer==44.0
redis==5.0.8
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3986==1.5.0
rich==13.7.1
rsa==4.9
screeninfo==0.8.1
selenium==4.31.0
serial==0.0.97
setuptools==73.0.0
shadowcopy==0.0.4
shazamio==0.6.0
shazamio_core==1.0.7
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.0
soupsieve==2.6
speedtest-cli==2.1.3
spotify-billboard-playlist==0.1.0
spotipy==2.24.0
SQLAlchemy==2.0.36
starlette==0.41.2
tqdm==4.66.5
trio==0.25.1
trio-websocket==0.11.1
twine==5.1.1
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==1.26.20
uvicorn==0.32.0
validators==0.34.0
webdriver-manager==4.0.2
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.0.4
wheel==0.44.0
WMI==1.5.1
wsproto==1.2.0
xyzservices==2024.6.0
yarl==1.9.4
youtube-dl==2021.12.17
youtube-search-python==1.6.6
yt-dlp==2025.3.31
ytmusicapi==1.8.1
zipp==3.20.0
